.box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 210px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    background-color: #eee;
}

.box li {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #aaa;
    text-align: center;
}

#box {
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

#box2 {
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

#box3 {
    -webkit-align-content: center;
    align-content: center;
}

#box4 {
    -webkit-align-content: space-between;
    align-content: space-between;
}

#box5 {
    -webkit-align-content: space-around;
    align-content: space-around;
}

#box6 {
    -webkit-align-content: stretch;
    align-content: stretch;
}