.box {
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    list-style: none;
}
.box li {
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
    text-align: center;
}

#box {
    -webkit-flex-direction: row;
    flex-direction: row;
}

#box2 {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

#box3 {
    -webkit-flex-direction: column;
    flex-direction: column;
}

#box4 {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}