.box {
    display: -webkit-flex;
    display: flex;
    width: 220px;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    list-style: none;
}
.box li {
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
    text-align: center;
}

#box {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#box2 {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#box3 {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}