.box {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 100px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    background-color: #eee;
}

.box li {
    height: 40px;
    line-height: 40px;
    margin: auto 5px auto 5px;
    padding: 10px;
    border-radius: 5px;
    background: #aaa;
    text-align: center;
}

#box {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

#box2 {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#box3 {
    -webkit-justify-content: center;
    justify-content: center;
}

#box4 {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#box5 {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}